.home-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.book-card {
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  padding: 0rem 2rem;
  margin-top: 1rem;
}
.author-container p {
  margin: 0;
}
.book-image-container {
  display: flex;
  padding: 1rem 0rem;
  width: 18rem;
  justify-content: center;
  height: 27rem;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #8b8b8b;
  border-radius: 0.5rem;
}
.book-image {
  align-items: center;
  width: 14rem;
  height: 25rem;
}
.book-card h6 {
  font-size: 1.5rem;
  margin: 0rem;
}
.title-container {
  border-bottom: 0.1rem #000 solid;
  padding-bottom: 1rem;
}
.review-container img,
.title-container img {
  width: 1rem;
  height: 1rem;
}
.book-card p {
  text-align: justify;
  word-wrap: break-word;
}
.book-card book-specification {
  font-size: 0.6rem;
}
.review-container h6 {
  font-size: 1.3rem;
  margin: 0rem;
}

.description-container {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid;
  max-height: 10rem;
  overflow-y: scroll;
}
.description-container::-webkit-scrollbar {
  display: none;
}
.specifications {
  display: flex;
  justify-content: space-between;
}
.book-details {
  padding: 1.5rem;
  max-width: 30rem;
  min-width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #8b8b8b;
}
.review-container {
  display: flex;
  padding: 2rem;
  justify-content: center;
  column-gap: 4rem;
}
.review-container input {
  width: -webkit-fill-available;
  height: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  outline: 0.1rem #f1f1f1 solid;
}
.review-container input:focus,
.review-container textarea:focus {
  outline: 0.2rem #8b8b8b solid;
}
.review-container textarea {
  width: -webkit-fill-available;
  height: 4.5rem;
  border: none;
  border-radius: 0.3rem;
  outline: 0.1rem #f1f1f1 solid;
}
.give-rating img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.review-card h6 {
  margin: 0rem;
  font-size: 1rem;
}
.review-card p {
  margin-top: 0rem;
}
.write-review p {
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.write-review {
  box-shadow: 0.1rem 0.2rem 0.4rem #8b8b8b;
  width: 16rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.write-review button {
  width: 10rem;
  height: 2.5rem;
  margin-top: 1rem;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  color: white;
  position: relative;
}
.write-review button:hover {
  background: rgba(250, 250, 250, 0.9);
  color: #000;
  box-shadow: 0.1rem 0.1rem 0.1rem #8b8b8b;
}
.review {
  max-width: 30rem;
  min-width: 30rem;
  box-shadow: 0.1rem 0.2rem 0.4rem #8b8b8b;
  padding: 1.5rem;
  overflow-y: scroll;
  max-height: 23rem;
  border-radius: 0.5rem;
}
.review::-webkit-scrollbar {
  display: none;
}
.container {
  min-height: calc(100vh - 9rem);
  max-height: calc(100vh - 9rem);
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.review h6 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.name {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}
.review-card {
  border: 0.1rem #f1f1f1 solid;
  margin-bottom: 0.7rem;
}
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .book-card {
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 0;
    padding: 0rem 2rem;
    margin-top: 1rem;
  }
  .book-image {
    align-items: center;
    width: 80%;
    height: 16rem;
  }
  .book-details {
    min-width: 74%;
    max-width: 74%;
  }
  .book-image-container {
    width: 80%;
    height: 18rem;
  }
  .review-container {
    display: flex;
    padding: 2rem;
    align-items: center;
    row-gap: 1rem;
    flex-direction: column;
  }
  .write-review {
    min-width: 78%;
    max-width: 78%;
  }
  .review {
    min-width: 77%;
    max-width: 77%;
  }
  .specifications {
    flex-direction: column;
    row-gap: 0;
    column-gap: 0;
  }
}
