.home-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.book-card {
  display: flex;
  column-gap: 2rem;
  padding: 0rem 2rem;
}
.book-image {
  width: 18rem;
  height: 27rem;
}
.book-card h6 {
  font-size: 1.5rem;
  margin: 0rem;
}
.title-container {
  border-bottom: 0.1rem #000 solid;
  padding-bottom: 1rem;
}
.review-container img,
.title-container img {
  width: 1rem;
  height: 1rem;
}
.book-card p {
  text-align: justify;
  word-wrap: break-word;
}
/* .review-container h6, */
.book-card book-specification {
  font-size: 0.6rem;
}
.review-container h6 {
  font-size: 1.3rem;
  margin: 0rem;
}
.review-inner-container {
  display: flex;
  column-gap: 4rem;
}
.description-container {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid;
  max-height: 10rem;
  overflow-y: scroll;
}
.description-container::-webkit-scrollbar {
  display: none;
}
.specifications {
  display: flex;
  justify-content: space-between;
}
.book-details {
  max-width: 30rem;
}
.review-container {
  border: 0.2rem solid;
  padding: 1rem 2rem;
  display: flex;
  column-gap: 4rem;
}
.review-container input {
  width: -webkit-fill-available;
  height: 1.5rem;
}
.review-container textarea {
  width: -webkit-fill-available;
  height: 4.5rem;
}
.give-rating img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.review-card h6 {
  margin: 0rem;
  font-size: 1rem;
}
.review-card p {
  margin-top: 0rem;
}
.write-review p {
  font-weight: bold;
}
.write-review {
  box-shadow: 0.1rem 0.2rem 0.4rem #8b8b8b;
  width: 16rem;
  padding: 1rem;
}
.write-review button {
  width: 10rem;
  height: 2.5rem;
  margin-top: 1rem;
  left: 17%;
  position: relative;
}
